body{
    font-family: 'Tilt Neon', cursive;    
    box-sizing: border-box; 
}

header{
    text-align: center;
    color: #e53170;
}

main{
    width: 75%;
    margin: auto;
}

main > p{
    text-align: center;
    margin-bottom: 50px;
}

.card{
    float: left;
    width: calc(33% - 15px);
    margin-right: 15px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
}

.card p{
    margin-top: 8px;
}

.propic{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.name{
    font-weight: bolder;
    font-size: 18px;
}

.email{
    color: cyan;
}